.section {
  padding: 0px 0px 109px 0px;
}

.container {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 1562px) {
  .container {
    justify-content: flex-start;
  }
}

.title {
  margin: 0px 0px 50px 0px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 125%;
}

.subTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 125%;
  margin-bottom: 20px;
}

.textInfo {
  padding: 0px;
}

.aboutContainer {
  position: absolute;
  border-left: 15px solid #44c697;
  max-width: 513px;
  right: 0px;
  top: 100px;
  bottom: 118px;
  padding: 30px 20px;
  background-color: white;
  z-index: 1;
  overflow: auto;
}

@media screen and (min-width: 1080px) {
  .title {
    font-size: 48px;
  }
  .subTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;

    margin-bottom: 30px;
  }
  .textInfo {
    padding: 0px 75px 0px 15px;
  }
  .aboutContainer {
    padding: 50px 50px 50px 30px;
  }
}

.img {
  max-width: 1561px;
  height: auto;
  display: block;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.input {
  box-sizing: border-box;
  width: 100%;
  padding: 14px 15px;
  margin-bottom: 15px;
}
.label {
  width: 100%;
  display: block;
}

.btn {
  padding: 14px 0px;
  width: 100%;
  background-color: #44c697;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;
  color: white;
}

.infoRegistr {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 125%;
  color: #1e2e36;
}
