@import-normalize;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #1e2e36;
  font-style: normal;
  line-height: 125%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: #1e2e36;
  /* color: #19191aad; */
}

a:focus,
a:hover {
  color: #44c697;
}

p {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  padding: 0px;
}
